body{
    margin: 0;
    background-color: #f3e5f5;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: cursive;

    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar a {
    float: right;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.menu {
    float: right;
    overflow: hidden;
}

.menu .menubtn {
	cursor: pointer;
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .menu:hover .menubtn, .menubtn:focus {
    background-color: red;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.badge{
	width: 45px;
}
footer{
    background-color: #333;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
}
.burgers{
    display: flex;
    justify-content: space-around;
    height: 500px;
}
.burgers .burger:hover{
    border: 2px solid black;
}
.burgers .burger{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    padding: 5px;
}
.burgers .burger img{
    height: 50%;
    width: 100%;
}
.burgers .burger .description{
    position: relative;
    height: 50%;
    background-color: #212121;
    font-family: 'Pacifico',cursive;
    font-size: 30px;
    color:white;
    border-top: 1px solid #ffe57f;
}
.burgers .burger a{
    position: absolute;
    display: inline-block;
    color:white;
    bottom: 0;
}
.burger .effect{
    font-family: 'Pacifico',cursive;
    color:white;
    display: none;
    height: 100%;
    background-color: #212121;
    padding: 5px;
}
